<ion-header>  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Contactenos</ion-title>
  </ion-toolbar>
</ion-header>  

<ion-menu contentId="cont-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-button color="light" expand="full" routerLink="home" (click)="h()">Home</ion-button>
      <ion-button color="light" expand="full" routerLink="login" (click)="log()">Login</ion-button>
      <ion-button color="light" expand="full" routerLink="contacto">Contacto</ion-button>
      <ion-button color="light" expand="full" routerLink="registro" (click)="reg()">Registro</ion-button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="cont-content"></ion-router-outlet>

<ion-content>
  <ion-card>

<form [formGroup]="frmContacto" (ngSubmit)="formulario(frmContacto.value)">
      
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" formControlName="nombre"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Mensaje</ion-label>

    <ion-textarea formControlName="texto" rows="5" cols="10" placeholder="Inserta tu mensaje aqui..."></ion-textarea>
  </ion-item>

  <ion-button expand="full" type="ngSubmit" color="success">Entrar</ion-button>
</form>
</ion-card>
</ion-content>  