<!-- <ion-header>
  <ion-toolbar color="primary">  
      <ion-button slot="start">
          <ion-menu-button></ion-menu-button>              
      </ion-button>  
      <ion-title>Registro de Asistencia</ion-title>    
</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="login-container">
      <ion-card>
          <ion-card-header>
              <ion-card-title>Registro a evento</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <form [formGroup]="frmRegistro" (ngSubmit)="login(frmRegistro.value)">
                  <ion-item>
                      <ion-label position="floating">Evento</ion-label>
                      <ion-input type="text" formControlName="evento"></ion-input>

                      <ion-select placeholder="Select a Fruit">
                        <div slot="label">Favorite Fruit <ion-text color="danger">(Required)</ion-text></div>
                        <ion-select-option value="apple">Apple</ion-select-option>
                        <ion-select-option value="banana">Banana</ion-select-option>
                        <ion-select-option value="orange">Orange</ion-select-option>
                      </ion-select>

                      <ion-label>
                        Favorite Fruit <ion-text color="danger">(Required)</ion-text>
                      </ion-label>
                      <ion-select formControlName="evento" placeholder="Seleccione un evento">
                        <ion-select-option *ngFor="let item of eventos" [value]="item.Id">
                          {{ item.nombre }}
                        </ion-select-option>
                      </ion-select>

                  </ion-item>
                  <ion-item>
                      <ion-label position="floating">Codigo</ion-label>
                      <ion-input type="text" formControlName="codigo"></ion-input>
                  </ion-item>   
                  <ion-item>
                    <ion-label position="floating">Participante</ion-label>
                    <ion-input type="email" formControlName="persona"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Fecha</ion-label>
                    <ion-input type="text" formControlName="fecha"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Hora</ion-label>
                  <ion-input type="text" formControlName="hora"></ion-input>
                </ion-item>                    
                  <ion-button type="ngSubmit">Guardar</ion-button>                    
              </form>                                   
          </ion-card-content>
      </ion-card>
  </div>
</ion-content> -->
